
/* ///////////////////////////////////////////////////////////
Responsive Layout Declaration 
/////////////////////////////////////////////////////////// */ 

$over:'(min-width: 1600px)';
$xxl:'(max-width: 1599px)';
$xl:'(max-width: 1399px)';
$lg:'(max-width: 1199px)';
$md:'(max-width: 991px)';
$sm:'(max-width: 767px)';
$xs:'(max-width: 575px)';
$xxs:'(max-width: 480px)';

/* ///////////////////////////////////////////////////////////
Font Family Declaration 
/////////////////////////////////////////////////////////// */ 

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap'); 

$SpaceGrotesk: 'Rajdhani', sans-serif;
$inter: 'Manrope', sans-serif;


/* ///////////////////////////////////////////////////////////
Color Declaration 
/////////////////////////////////////////////////////////// */ 

$colors: (
    common: (
        white: "#FFFFFF",
        black: "#0B0B0B",
        primary: "#B9B9B9",
        gray: "#3D3D3D",
        border: "#C7C7C7",
    ),
    body: (
        heading: "#1A1A1A",
        text: "#4B4B4B",
    ),
    color: (
      violet: "#7D7D7D",
    ),
    theme: (
        primary: "#5B5B5B",
    ),
    bg: (
        gray: "#F4F4F4",
        gray-2: "#EDEDED",
        gray-3: "#E4E4E4",
    )
);

:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    }
}



/* ///////////////////////////////////////////////////////////
Mixin Declaration 
/////////////////////////////////////////////////////////// */ 

@mixin transition($time) {
    -webkit-transition: all $time linear 0s;
    -moz-transition: all $time linear 0s;
    -ms-transition: all $time linear 0s;
    -o-transition: all $time linear 0s;
    transition: all $time linear 0s;
}

@mixin animation($name) {
    -webkit-animation:$name 4s linear infinite;
    -moz-animation:$name 4s linear infinite;
    animation: $name 4s linear infinite;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
		@content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}



/* ///////////////////////////////////////////////////////////
Animation Declaration 
/////////////////////////////////////////////////////////// */ 

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

@-webkit-keyframes wcSlideBottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes wcSlideBottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @-webkit-keyframes reveal {
    to {
      opacity: 1;
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
  }
  @keyframes reveal {
    to {
      opacity: 1;
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
  }
  @-webkit-keyframes wcfadeUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes wcfadeUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes wcSpinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes wcSpinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
